---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostsCards from '../components/PostsCards.astro';



const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

---
<BaseLayout pageTitle="/posts">
  <h1>Tags: </h1>
  {tags.map((tag) => (
    <div class="tag-list"><a class="tags" href={`/tags/${tag}`}><span>[{tag}]</span></a></div>
  ))}
  <h1>My Posts: </h1>
  {allPosts.map((post: any) => <PostsCards url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate.toString().slice(0,10)}/>)}
  <div>

  </div>
</BaseLayout>

<style>
  .tag-list {
    display: inline-block;
  }

  h1{
    color: #e5c07b;
  }

</style>