---
import '../styles/global.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Prompt from '../components/Prompt.astro';


const { pageTitle } = Astro.props;

const domain = "gbolea.website";

---
<html lang="en">
  <head>
    <meta name="description" content="Welcome to my little corner of the web">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="headerncontents">
      <Header icon="fa fa-terminal"/>
      <div class="contents">
        <Prompt domain={domain} pageTitle={pageTitle}/>
        <slot />
        <Footer domain={domain}/>
      </div>
    </div>
  </body>
</html>

<style>
  .contents{
    border: 0.1rem solid #494a49;
    border-top: none;
    padding: 2rem;
    background-color: #171717e6;
  }
.headerncontents {
  -webkit-box-shadow:0px 0px 70px 45px rgba(1,58,16,0.9);
  -moz-box-shadow: 0px 0px 70px 45px rgba(1,58,16,0.9);
  box-shadow: 0px 0px 70px 45px rgba(1,58,16,0.9);
}

@media screen and (max-width: 540px) {
  .contents{
    padding: 0.7rem;
  }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
}


</style>