---
const { frontmatter } = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<meta charset="utf-8" />
<BaseLayout pageTitle={`/posts/${frontmatter.title}`}>
    <p class="all-tags"></p>
    {Array.isArray(frontmatter.tags) && frontmatter.tags.length > 0 ? (
        <div class="tag-list">
        {frontmatter.tags.map((tag: unknown) => (
            <a href={`/tags/${tag}`} class="tags"><span>[ {tag} ]</span></a>
        ))}
            </div>
        ):
            <p class="tags">[ no tags ]</p>
    }
    <div class="wrapper">
        <p>Written by <span class="author">{frontmatter.author}</span></p>
        <p>Published on: <span class="pubDate">{frontmatter.pubDate.toString().slice(0,10)}</span></p>
        <p><span class="description">{frontmatter.description}</span></p>
        <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    </div>
    <slot />
  </div>
</BaseLayout>

<style>
    .wrapper {
        border: 2px solid #262a36;              
        background-color: #181a20;              
        color: #fff;
        padding: 20px 28px;
        border-radius: 8px;
        box-shadow: 0 2px 10px #0006;
        transition: border-color 0.2s, box-shadow 0.2s, background 0.3s;
        position: relative;
    }
    .author{
        color: #e5c07b;
    }
    .pubDate{
        color: #e5c07b;
    }
    .description{
        font-style: italic;
        background-color: rgb(37, 37, 37);
    }
</style>

